h1,
h2,
h3,
span {
  color: white;
}

.clock {
  text-align: center;
  font-size: 50px;
}

.container {
  margin: auto;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.todos li {
  list-style: none;
}

.todos ul {
  padding-left: 10px;
}
.todos button {
  float: right;
}

.todos form input {
  display: flex;
  width: 90%;
  margin: auto;
  text-align: center;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-repeat: no-repeat; */
  background-size: cover;
  width: 100%;
  height: 100%;
}

.user {
  text-align: center;
  margin: 20px;
}

.user input {
  text-align: center;
}
